<page-title title="Angular 2.0 - Introduction"></page-title>
<page-body>
    <div>
        <h2>Welcome to Angular 2.0 introduction!</h2>
        <p>Angular 2 is the next version of Google’s massively popular MV* framework for building complex applications in the browser (and beyond).
            Angular 2 comes with almost everything you need to build a complicated frontend web or mobile apps, from powerful templates to fast rendering, data management, HTTP services, form handling, and so much more.</p>
    </div>
    <img src="../../../src/images/angular2-mtn.png" width="100%"/>
    <div class="mt-20">
        <p>Angular 2 gets rid of controllers and $scope. You may wonder how you’re going to stitch your homepage together! Well, don’t worry too much − Angular 2 introduces Components as an easier way to build complex web apps and pages.</p>
        <p>We hope you enjoy this simple introduction to Angular 2 and TypeScript, and please let us know if anything seems wrong or outdated.</p>
    </div>
</page-body>

