//header
$header-bg-color: #c30e2e;
$header-height: 50px;

//app-sidebar
$sidebar-item-height: 50px;
$sidebar-width-small: 55px;
$sidebar-width-big: 200px;
$sidebar-bg-color: #424C55;
$sidebar-active-color: #1985A1;
$sidebar-text-color: #b1b1b1;
$sidebar-animation-time: .3s;
$sidebar-animation-easing: ease-out;

//page-page-body
$page-title-height: 100px;
$page-title-text-color: #777879;
$page-title-font-size: 32px;
$page-title-bg-color-1: #ffffff;
$page-title-bg-color-2: #f2f2f2;
$page-content-padding: 50px;
